<div class="container-fluid p-0 m-0">

  <!-- navbar section -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Figuritas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto me-3">
          <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#createPostModal">Agregar Figurita</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- list of posts -->
  <div class="row mt-5 p-3">
    <div class="col-sm-12 col-md-3 mt-3" *ngFor="let post of allPosts">

      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-center">{{post.pais}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Cantidad a cambiar {{post.cantidad}}</h6>
          <p class="card-text">Número de la figurita {{post.numerofigu}}</p>
          <p class="card-text">Tipo de Figurita  {{post.descripcion}}</p>
          <p class="card-text">Whatsapp  {{post.contacto}}</p>

        </div>
        <div class="card-footer">
          <div class="btn btn-outline-primary ms-2" (click)="editPost(post)" data-bs-toggle="modal" data-bs-target="#editPostModal">Editar </div>
          <div class="btn btn-outline-danger ms-2" (click)="deletePostById(post)">Borrar </div>
        </div>
      </div>

    </div>
  </div>

  <!-- create post modal -->
<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Figurita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <option selected>Pais de la Figurita</option>
        <div class="form-floating mb-3">
          <select class="form-select" aria-label="Default select example"
          name="title" [(ngModel)]="pais">
            
            <option value="Alemania">Alemania</option>
            <option value="Dinamarca">Dinamarca</option>
            <option value="Brasil">Brasil</option>
            <option value="Francia">Francia</option>
            <option value="Bélgica">Bélgica</option>
            <option value="Croacia">Croacia</option>
            <option value="España">España</option>
            <option value="serbia">serbia</option>
            <option value="Inglaterra">Inglaterra</option>
            <option value="Suiza">Suiza</option>
            <option value="Holanda">Holanda</option>
            <option value="Argentina">Argentina</option>
            <option value="Irán">Irán</option>
            <option value="Corea del Sur">Corea del Sur</option>
            <option value="Japón">Japón</option>
            <option value="Arabia Saudita">Arabia Saudita</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Canadá">Canadá</option>
            <option value="Ghana">Ghana</option>
            <option value="Senegal">Senegal</option>
            <option value="Portugal">Portugal</option>
            <option value="Polonia">Polonia</option>
            <option value="Túnez">Túnez</option>
            <option value="Marruecos">Marruecos</option>
            <option value="Camarún">Camarún</option>
            <option value="México">México</option>
            <option value="Estados Unidos">Estados Unidos</option>
            <option value="Gales">Gales</option>
            <option value="Australia">Australia</option>
            <option value="Costa Rica">Costa Rica</option>
            
          </select>
        
         
        </div>
        <option selected>Tipo de Figurita</option>

        <select class="form-select" aria-label="Default select example"
        name="description" [(ngModel)]="descripcion">
          <option selected>Jugador, Estadio o Escudo</option>
          <option value="Jugador">Jugador</option>
          <option value="Estadio">Estadio</option>
          <option value="Escudo">Escudo</option>
          <option value="Dorada">Dorada</option>
        </select>

        <option selected>Número de Figurita</option>
        <div class="form-floating mb-3">
          <select class="form-select" aria-label="Default select example"
          name="content" [(ngModel)]="numerofigu">
            
         
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
           
            
          </select>


      

         
          
        </div>
        <option selected>Cantidad a Cambiar</option>
        <div class="form-floating mb-3">
          <select class="form-select" aria-label="Default select example"
          name="cantidad" [(ngModel)]="cantidad">
            
         
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>

            </select>

         
        </div>
        <option selected>Contacto</option>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" name="contacto" [(ngModel)]="contacto">
          <label for="floatingInput">Whatsapp</label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createPost()">Publicar</button>
      </div>
    </div>
  </div>
</div>

  <!-- edit post modal -->
<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Figurita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">

        <option selected>Pais de la Figurita</option>
        <div class="form-floating mb-3">
          <select class="form-select" aria-label="Default select example"
          name="title" [(ngModel)]="pais">
            
            <option value="Alemania">Alemania</option>
            <option value="Dinamarca">Dinamarca</option>
            <option value="Brasil">Brasil</option>
            <option value="Francia">Francia</option>
            <option value="Bélgica">Bélgica</option>
            <option value="Croacia">Croacia</option>
            <option value="España">España</option>
            <option value="serbia">serbia</option>
            <option value="Inglaterra">Inglaterra</option>
            <option value="Suiza">Suiza</option>
            <option value="Holanda">Holanda</option>
            <option value="Argentina">Argentina</option>
            <option value="Irán">Irán</option>
            <option value="Corea del Sur">Corea del Sur</option>
            <option value="Japón">Japón</option>
            <option value="Arabia Saudita">Arabia Saudita</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Canadá">Canadá</option>
            <option value="Ghana">Ghana</option>
            <option value="Senegal">Senegal</option>
            <option value="Portugal">Portugal</option>
            <option value="Polonia">Polonia</option>
            <option value="Túnez">Túnez</option>
            <option value="Marruecos">Marruecos</option>
            <option value="Camarún">Camarún</option>
            <option value="México">México</option>
            <option value="Estados Unidos">Estados Unidos</option>
            <option value="Gales">Gales</option>
            <option value="Australia">Australia</option>
            <option value="Costa Rica">Costa Rica</option>
            
          </select>
        
         
        </div>
        <option selected>Tipo de Figurita</option>

        <select class="form-select" aria-label="Default select example"
        name="description" [(ngModel)]="descripcion">
         
          <option value="Jugador">Jugador</option>
          <option value="Estadio">Estadio</option>
          <option value="Escudo">Escudo</option>
          <option value="Dorada">Dorada</option>

        </select>

        <option selected>Número de Figurita</option>
        <div class="form-floating mb-3">
          <select class="form-select" aria-label="Default select example"
          name="content" [(ngModel)]="numerofigu">
            
         
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
           
            
          </select>


      

         
          
        </div>
        <option selected>Cantidad a Cambiar</option>
        <div class="form-floating mb-3">
          <select class="form-select" aria-label="Default select example"
          name="cantidad" [(ngModel)]="cantidad">
            
         
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>

            </select>

         
        </div>
        <option selected>Contacto</option>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="floatingInput" name="contacto" [(ngModel)]="contacto">
          <label for="floatingInput">Whatsapp</label>
        </div>
         



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatePost()">Actualizar</button>
      </div>
    </div>
  </div>
</div>

</div>

